" Have j and k navigate visual lines rather than logical ones
nmap j gj
nmap k gk
" I like using H and L for beginning/end of line
nmap H ^
nmap L $
imap jj <Esc>
" Quickly remove search highlights
nmap <F9> :nohl
set ideajoin

" Save
nnoremap <Leader>w :w<cr>
" Set Space as leader
let mapleader=" "

" use system clipboard
noremap y "+y
noremap p "+p
noremap x "+x
